p {
    margin-top: 1em;
}

hr {
    margin: 1em 0 1em 0;
}

.menu-list a.is-active {
    background-color: darkslategray;
    color: white;
}

.menu .menu-list .button {
    margin-bottom: 1em;
}

.container {
    padding: 1em;
}


.custom-hero {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    flex-direction: column;
}

.custom-hero .title {
    color: white;
}

.hero-heading {
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: center;
}

.title.is-3 {
    margin-top: 1em;
}

.control.top-control{
    align-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
}

.control.todo-control {
    display: flex;
    margin-bottom: 5px;
}

.control.todo-control .button.is-primary {
    border-radius: 5px 0 0 5px;
}

@media(max-width: 767px) {
    .reverse-row-order {
        flex-direction: column-reverse;
        display: flex;
    }
}