p {
    margin-top: 1em;
}

hr {
    margin: 1em 0 1em 0;
}

.menu-list a.is-active {
    background-color: darkslategray;
    color: white;
}

.menu .menu-list .button{
    margin-bottom: 1em;
}

.container {
    padding: 1em;
}

.custom-hero {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    flex-direction: column;
}

.custom-hero .title {
    color: white;
}

.hero-heading{
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: center;
}

@media(max-width: 767px) {
    .reverse-row-order {
        flex-direction: column-reverse;
        display: flex;
    }
}