p {
    margin-top: 1em;
}

hr {
    margin: 1em 0 1em 0;
}

.menu-list a.is-active {
    background-color: darkslategray;
    color: white;
}

.menu .menu-list .button {
    margin-bottom: 1em;
}

.container {
    padding: 1em;
}

.custom-hero {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    flex-direction: column;
}

.custom-hero .title {
    color: white;
}

.hero-heading {
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: center;
}

.title.is-3 {
    margin-top: 1em;
}

.control.top-control {
    align-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
}

.control.todo-control {
    display: flex;
    margin-bottom: 5px;
}

.control.todo-control .button.is-primary {
    border-radius: 5px 0 0 5px;
}

.control.todo-control input {
    flex: 1;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
}

ul.todo-list li {
    display: flex;
    padding: 0.5em;
    background-color: #e6e6e6;
    width: 100%;
    align-content: center;
    border-radius: 8px;
    border-bottom: #eeeeee 1px solid;
}

ul.todo-list li a.delete {
    margin-left: auto;
}

ul.todo-list li a.check-button {
    display: flex;
    align-content: center;
    margin-right: 1em;
    padding: 4px;
}

a.check-button span {
    pointer-events: none;
}

a.check-button.disabled {
    color: #fefefe;
    cursor: pointer;
}

a.check-button.active {
    color: limegreen;
    cursor: pointer;
}

ul.todo-list li a.delete:hover {
    background: darkcyan;
}

.notification b.h1{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media(max-width: 767px) {
    .reverse-row-order {
        flex-direction: column-reverse;
        display: flex;
    }
}